<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.haggle.Micropublisher"
    android:versionCode="1"
    android:versionName="1.0" >
    <application android:name=".Micropublisher"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name">
        <activity
            android:label="@string/app_name"
            android:name=".MicropublisherView"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
           </intent-filter>
        </activity>
        <activity android:name=".PublishView"/>
        <service android:name=".UserDataService" >
            <intent-filter>
                <action android:name="edu.pu.ao.MiniApp.KEYS"/>
                <action android:name="edu.pu.ao.MiniApp.USER_DATA"/>
                <action android:name="edu.pu.mf.iw.ProjectOne.ACTION_KEYS"/>
                <action android:name="edu.pu.mf.iw.ProjectOne.ACTION_NODE_COMMIT"/>
            </intent-filter>
        </service>
    </application>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
  	<uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-sdk android:minSdkVersion="8" />
    <uses-library android:name="org.haggle" />
</manifest>